{
    email alexander.wyrwol@me.com
}

vergabe.cycl.group {
    # Frontend (static files served by frontend container)
    reverse_proxy frontend:80

    # API
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy backend:8000
    }

    handle /docs* {
        reverse_proxy backend:8000
    }

    handle /openapi.json {
        reverse_proxy backend:8000
    }

    encode gzip
    log {
        output stdout
    }
}
